<% include partials/header %>
  <body>
    <h1><%= title %></h1>
    <div class="main">
      <section class="anuncios-filtro">
        <form action="" id="anuncios-filtro-form">
          <div class="row">
              <div class="col-xl-3">
                <div class="anuncios-filtro--item">
                  <div class="row anuncios-filtro--item__precio">
                    <div class="col-6">
                      <label for="min-precio">Precio desde: <span></span></label>
                      <input type="range" class="custom-range" min="0" max="<%= data.top_precio %>" value="<%= data.min_precio %>" name="min-precio" id="min-precio">
                    </div>
                    <div class="col-6">
                      <label for="max-precio">Precio hasta: <span></span></label>
                      <input type="range" class="custom-range" min="0" max="<%= data.top_precio %>" value="<%= data.max_precio %>" name="max-precio" id="max-precio">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="anuncios-filtro--item">
                  <div class="anuncios-filtro--item__tags">
                      Tags:
                      <ul class="anuncios-filtro--tags__list">
                        <% data.tags.forEach( function(tag) { %>
                          <li class="anuncios-filtro--tags__list--item">
                            <input class="form-check-input" type="checkbox" name="tags[]" value="<%= tag.key %>" <%= tag.checked %>>
                            <label class="form-check-label" for="tags">
                              <%= tag.key %>
                            </label>
                          </li>
                        <% }); %>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="anuncios-filtro--item">
                    <div class="anuncios-filtro--item__type">
                        Marcado como:
                        <ul class="anuncios-filtro--tags__list">
                          <li class="anuncios-filtro--tags__list--item">
                            <input class="form-check-input" type="radio" name="venta" id="venta" value="true">
                            <label class="form-check-label" for="tags-lifestyle">
                              Se vende
                            </label>
                          </li>
                          <li class="anuncios-filtro--tags__list--item">
                            <input class="form-check-input" type="radio" name="venta" id="venta" value="false">
                            <label class="form-check-label" for="tags-work">
                              Se busca
                            </label>
                          </li>
                        </ul>
                    </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="anuncios-filtro--item">
                    <div class="anuncios-filtro--item__search">
                      <label class="sr-only" for="inlineFormInputGroup">Busca por nombre</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fas fa-search"></i></div>
                        </div>
                        <input type="text" class="form-control form-control-sm" name="name" id="name" placeholder="Busca por nombre">
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="anuncios-filtro--item">
                  <div class="anuncios-filtro--item__submit">
                      <button type="submit" class="btn btn-primary">Filtrar</button>
                  </div>
                </div>
              </div>
          </div>
      </form>
      </section>
      <section class="anuncios">
        <div class="row">
          <% anuncios.forEach( function(anuncio) { %>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="anuncios--item">
                    <div class="anuncios--item__img"><img src="../public/anuncios/<%= anuncio.foto %>" alt="<%= "Error cargando imagen" %>"></div>
                    <div class="anuncios--item__text">
                      <div class="anuncios--item__text--precio"><%= anuncio.precio %> €</div>
                      <div class="anuncios--item__text--name"><p><%= anuncio.name %></p></div>
                      <div class="anuncios--item__text--tags"><small>Tags: <%= anuncio.tags %></small></div>
                    </div>
                    <div class="anuncios--item__venta">
                      <small><% if(anuncio.venta) { %> Se vende <% } else { %> Se busca <% } %></small>
                    </div>
                    <div>
                    <p>&nbsp;</p>
                    </div>
                </div>
              </div>
          <% }); %>
        </div>
      </section>
    </div>

    <% include partials/footer %>